.show-center {
    text-align: center;
}
#nickname {
    margin-top: 5vh;
    padding: 5px;
    font-size: 16px;
}
.play-buttons {
    background-color: #fed36c;
    border-radius: 4px;
    margin: 2vh 3px;
    padding: 5px;
    font-size: 16px;
}
#big-button {
    margin: 10vh;
    background-color: #88b6f7;
    border-radius: 100%;
    width: 40vh;
    height: 40vh;
    font-size: 32px;
}