@font-face {
  font-family: 'Hind Siliguri';
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.eot');
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.woff') format('woff'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.ttf') format('truetype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-SemiBold.svg#HindSiliguri-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.eot');
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.woff2') format('woff2'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.woff') format('woff'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.ttf') format('truetype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Light.svg#HindSiliguri-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.eot');
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.woff2') format('woff2'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.woff') format('woff'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.ttf') format('truetype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Medium.svg#HindSiliguri-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.eot');
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.woff2') format('woff2'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.woff') format('woff'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.ttf') format('truetype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Regular.svg#HindSiliguri-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Siliguri';
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.eot');
  src: url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.woff2') format('woff2'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.woff') format('woff'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.ttf') format('truetype'),
    url('../../assets/fonts/hind-siliguri/HindSiliguri-Bold.svg#HindSiliguri-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}