.text-cla {
    color: #C62C45 !important;
}
.mask-custom {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.5);
  }
.header-bg {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}