<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="index.css">
  <title>Cargo service</title>
</head>

<body>
  <nav class="blue darken-4">
    <div class="nav-wrapper">
      <div class="nav-elements">
        <a href="./index.html" class="brand-logo">Cargo service</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="hello-user"></li>
          <li><a href="./home.html" class="home">Back</a></li>
          <li><a class="logout"><button class="btn">Logout</button></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><a href="./home.html" class="home">Back</a></li>
    <li><a class="logout"><button class="btn">Logout</button></a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"> </i></a>

  <div class="container">
    <h5>Account info</h5>
    <div class="account-info">
      <p class="accountid">Account ID: </p>
      <p class="accountname">Your name: </p>
      <p class="accountrole">Your role: </p>
      <p class="accountemail">Account Email: </p>
      <p class="accountcreated-date">Account created at: </p>
    </div>
    <h5>Change password</h5>
    <form>
      <div class="input-field">
        <div>
          <input class="oldpassword" type="password" name="oldpassword" placeholder="Current password" required>
        </div>
        <div>
          <input class="newpassword" type="password" name="newpassword" placeholder="New password" required>
        </div>
      </div>
      <button type="submit" class="btn changepassword">Change password</button>
    </form>
    <h5>Delete account</h5>
    <form>
      <button type="submit" class="btn deleteaccount">Delete account</button>
    </form>
  </div>

  <footer class="page-footer blue darken-4">
      <div class="container">
      © 2022 by Kostiantyn Sakharov
      <a class="grey-text text-lighten-4 right" href="http://hellraisercw.github.io/">My portfolio</a>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="appSettings.js"></script>
</body>
</html>