<form action="/logout" method="POST">
  <label>
    <button class="btn logout-btn" type="submit">Logout</button>
  </label>
</form>
<form action="/create" method="POST">
  <h2>Create note</h2>

  <div class="input-field">
    <input type="text" name="text" placeholder="Note something here">
  </div>

  <button type="submit" class="btn">Create note</button>
</form>
